Package: Can logger
Version: 1.0.2
Description: Autostart systemcore package
Section: development
Priority: optional
Maintainer: Ryan Radtke
Architecture: all
Source: local
X-Port: 9001
X-Has-UI: true
X-Auto-Start: true
X-Icon-Path: /usr/share/hello-world-autostart.png