Package: hello-world-autostart
Version: 1.0.0
Description: Autostart systemcore package
Section: development
Priority: optional
Maintainer: Limelight Vision
Architecture: all
Source: local
X-Port: 9001
X-Has-UI: true
X-Auto-Start: true
X-Icon-Path: /usr/share/hello-world-autostart.png